<div class="content" role="main">

  <div>
    <app-tree-view *ngFor="let c of cours"
      [hierarchy] = "c"
    >
    </app-tree-view>

    <br/><br/>
    <button (click)="onSaveCours()">Sauvegarder tous les cours</button>
  </div>

  <div>
    <app-tree-view *ngFor="let s of structures"
      [hierarchy] = "s"
    >
    </app-tree-view>

    <br/><br/>
    <button (click)="onSaveStructures()">Sauvegarder toutes les structures</button>
  </div>

</div>